*, *::before, *::after {       /* remove this before and after last if not needed */
    box-sizing: border-box;
    /* border-box makes the paddings and borders to be included within the specifies width and height*/
    /* otherwise by default the sum of padding and border can be added upto outside the elements dims */
}

body{
    margin: 0;
    background: linear-gradient(45deg, rgba(69,19,80,255), #b266c7);
}

.calc-text{
    font-size: 26px;
    font-weight: bold;
    color: #fefbff;
}

.calculator-grid{
    /* margin: 0 auto; */
    border: 5px solid white;
    border-radius: 20px;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);   /* this created a grid with 4 columns with width 6*/
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    /* minmax- when there is more content on the screen than screen size auto comes into play else minimum of 7 is used */
    /* do the same to 5 more rows with 6rem width */
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    color: #c6cdc0;
    border: 1px solid #2a2e37;
    outline: none;
    background-color: #2f3646;
    
}

.purple-button {
  background-color: #c45bdc  !important;
}
.purple-text{
    color: #c45bdc !important;
}


.spans{
    grid-column: span 2 ;    /* makes width of AC and EQUAL button twice that of normal column */
}

.output-screen {
    border-radius: 20px 20px 0 0;     /* makes top left and right of display curve */
    grid-column: 1 / -1;
    /* spans from the first to the last grid column, taking up the entire width of the grid. */
    background-color: #2a2e37;
    display: flex;   /* creates a flex container */
    flex-direction: column;  /* flex items will be stacked vertically */
    align-items: flex-end;   /* makes the text inside the screen to align at the right part */
    justify-content: space-around;  /* dynamically change space between the 2 outputs */

    padding: .75rem;   /* put some space between the o/p and the below grid */
    word-wrap: break-word;
    word-break: break-all;  /* makes the o/p screen length increase wrt the o/p */
}

.output-screen .prev-operand{    /* better practise as it becmomes more specific  */
    color: rgba(255, 255, 255, .75);   /* .75 adds transparency */
    font-size: 1.5rem;
}

.output-screen .curr-operand{
    color: white;
    font-size: 2.5rem;
}